<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iwuliao.trade.mapper.dba.AMapper">

    <select id="likeQry" resultType="string">
        SELECT name from a where name like
          <bind name="pattern" value="'%' + _parameter.name + '%'" />
        #{pattern}
    </select>
</mapper>